.navigationsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1%;
}
.sideNavMainContainer{
  height: 100%;
  width: 14%;
}
.topNavMainContainer{
  height: 8%;
  width: 85%;
}


@media screen and (max-width: 1200px) {
  .topNavMainContainer {
    width: 95%;
  }
  .sideNavMainContainer{
    height: 9%;
    width: 6%;
  }
  .navigationsContainer{
    gap: 20px;
  }
}
