.navigationsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2%;
}
.sideNavMainContainer{
  height: 93%;
  width: 13%;
  margin-top: 2%;
  margin-left: 1.5%;
}
.topNavMainContainer{
  margin-top: 2%;
  height: 8%;
  width: 82%;
}
@media screen and (max-width: 1199px) {
  .sideNavMainContainer{
    height: 93%;
    width: 6%;
    margin-top: 3%;
    margin-left: 1.5%;
  }
}
@media screen and (max-width: 900px) {
  .navigationsContainer {
    gap: 4%;
  }
}