.sidenavContainer {
  height: 94%;
  width: 13%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2%;
  background: rgba( 237, 249, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 25px );
  border-radius: 10px;
  position: fixed;
}
.sideNavHolder{
  display: flex;
  height: 100%;;
  width: 100%;
}














