/* Attributes of Create User Page */
.mainContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82vw;
  height: 84.5vh;
  top: 130px;
  left: 16.5vw;
  overflow: hidden;
  background: rgba(237, 249, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  /* border: 1px solid blue; */
}
.mainHolder {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 15px;
  /* border: 1px solid blue;  */
}

/* Attributes of Form holder */
.contentHolder {
  border-radius: 5px;
  height: 90%;
  width: 99%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 0;
}
.mainForm {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  width: 95%;
  padding: 2%;
  height: 100%;
}

/* Attributes of Left Form  */
.leftFormPlaceHolder {
  flex-direction: column;
  display: flex;
  width: 19.68%;
  justify-content: flex-start;
  align-items: center;

}
.profileHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.imgContainer {
  width: 15vw;
  height: 15vw;
}
.imgSize {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  border: 3px solid black;
}
.toolTip {
  width: 78%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buttonProfile {
  width: 100%;
}
.buttonProfile:hover {
  font-weight: bolder;
}

/* Attributes of Form Profile */
.formProfileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.textFieldProfile {
  background-color: transparent;
}

/* Attributes of Other Form  */
.otherFormContainer {
  width: 80%;
  height: 600px;
}
.otherFormPlaceholder {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 90%;
}
.form {
  padding: 1%;
  height: 80%;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.nameForm {
  display: flex;
  justify-content: flex-start;
  gap: 5vw;
}
.mainForm .textField {
  width: 300px;
  background-color: transparent;
}
.formHolder {
  display: flex;
  justify-content: flex-start;
  gap: 5vw;
  padding-top: 1%;
}

/* Attributes of Button */
.formRow7 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 0.5vw;
  margin-right: 1%;
  left: 50%;
  top: 5%;
  position: relative;
  /* border: 1px solid red; */
}
.saveButton {
  text-transform: none;
}
.cancelButton {
  text-transform: none;
  background-color: gray;
}

@media screen and (max-width: 2559px) {
  .mainContainer {
    top: 130px;
    height: 84.5vh;
  }
}
@media screen and (max-width: 1900px) {
  .mainContainer {
    top: 120px;
    height: 84.5vh;
  }
}
@media screen and (max-width: 1400px) {
  .mainContainer {
    top: 110px;
    height: 85vh;
  }
}
@media screen and (max-width: 1199px) {
  .mainContainer {
    position: fixed;
    top: 100px;
    left: 2vw;
    width: 96vw;
    height: 87vh;
  }
}
@media screen and (max-width: 850px) {
  .form,
  .nameForm,
  .formHolder {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    /* height: 100%; */
  }
  .leftFormPlaceHolder {
    width: 40%;
  }
  .form {
    height: 100%;
  }
  .formRow7 {
    top: 9%;
  }
  .mainForm {
    /* overflow: auto; */
  }
}
@media screen and (max-width: 750px) {
  .mainContainer {
    top: 90px;
    height: 87vh;
  }
}

@media screen and (max-width: 650px) {
  .contentHolder{
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: auto;
  }
  .mainForm {
    flex-direction: column;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
  }
  .otherFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .leftFormPlaceHolder {
    width: 100%;
  }

  .formRow7 {
    left: 0;
    margin-top: 3%;
  }
  .form, .nameForm, .formHolder{
    gap: 10px;
  }
}
