/* Attributes of Create User Page */
.mainContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 83.65%;
  height: 86.3%;
  top: 10%;
  left: 15.5%;
  overflow: hidden;
  background: rgba(237, 249, 255, 0.35);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}
.mainHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

/* Attributes of Form holder */
.contentHolder {
  border-radius: 5px;
  height:100%;
  width: 99%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
  margin-top: 15px;

}
.mainForm {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  width: 95%;
  padding-left: 10px;
  height: 90%;

}

/* Attributes of Left Form  */
.leftFormPlaceHolder {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 19.68%;
  gap: 7%;
  justify-content: flex-start;
  align-items: center;
}
.profileHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 40%;
}
.imgContainer {
  width: 15vw;
  height: 15vw;
  position: relative;
  border-radius: 50%;
}
.imgSize {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  position: relative;
}
.updateImageButton:hover{
  background-color: red;
  /* border: 5px solid red */
}

.toolTip {
  width: 78%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buttonProfile {
  width: 100%;
}
.buttonProfile:hover {
  font-weight: bolder;
}

/* Attributes of Form Profile */
.formProfileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.textFieldProfile {
  background-color: transparent;
}

/* Attributes of Other Form  */
.otherFormContainer {
  width: 80%;
  height: 100%;

}
.otherFormPlaceholder {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form {
  padding: 1%;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.nameForm {
  display: flex;
  justify-content: flex-start;
  gap: 5vw;
}
.mainForm .textField {
  width: 300px;
  background-color: transparent;
}
.formHolder {
  display: flex;
  justify-content: flex-start;
  gap: 5vw;
  padding-top: 1%;
}

/* Attributes of Button */
.formRow7 {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  border: 1px solid green;
  gap: 10px;
  /* position: relative */
}
/* .saveButton , .cancelButton {
  text-transform: none;
  height: 40px;
  border: 1px solid black;
} */




















/* 
@media screen and (max-width: 1200px) {
  .mainContainer {
    width: 97.4%;
    left: 1.3%;
  }
}


@media screen and (max-width: 750px) {
  .mainContainer {
    top: 70px;
  }
}

@media screen and (max-width: 850px) {
  .form,
  .nameForm,
  .formHolder {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  .leftFormPlaceHolder {
    width: 40%;
  }
  .form {
    height: 100%;
  }
  .otherFormContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }
  .mainForm{
    height: 95%;
  }
}

@media screen and (max-height: 850px) {
  .mainContainer{
    top: 85px;
  }
}
@media screen and (max-height: 760px) {
  .mainContainer{
    top: 75px;
  }
} */

/* 
@media screen and (max-width: 650px) {
  .contentHolder{
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .mainForm {
    flex-direction: column;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
  }
  .otherFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .leftFormPlaceHolder {
    width: 100%;
  }
  .form, .nameForm, .formHolder{
    gap: 10px;
  }
} 

@media screen and (max-height: 650px) {
  .mainContainer {
    top: 70px;
  }
} */



/* @media screen and (max-width: 2559px) {
  .mainContainer {
    top: 130px;
    height: 84.5vh;
  }
}
@media screen and (max-width: 1900px) {
  .mainContainer {
    top: 120px;
    height: 84.5vh;
  }
}
@media screen and (max-width: 1400px) {
  .mainContainer {
    top: 110px;
    height: 85vh;
  }
}
@media screen and (max-width: 1199px) {
  .mainContainer {
    position: fixed;
    top: 100px;
    left: 2vw;
    width: 96vw;
    height: 87vh;
  }
} */
