.mainContainer {
    position: fixed;
	display: flex;
	flex-direction: column; 
	align-items: center;
	height: 83%;
	width: 82%;
	top: 14vh;
	left: 16.5vw;
	overflow: hidden;
}
.contentContainer{
    width: 97%;
    height: 93%; 
    position: relative;
    top: 5%;
    align-self: center; 

}
.contentHolder{
    border-radius: 10px;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.graphHolder{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Attributes of Activity Log  */
.activityLogContainer{
    justify-content: center;
    align-items: space-around;
    height: 100%;
    width: 96%;
    border-radius:20px;
}
.paper{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
}
.actLogTable {
    width: 100%; 
    height: 100%; 
    overflow: hidden ;
}








