<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.mapper.UserMapper">
    <!-- <select id="findById" parameterType="java.lang.Long" resultType="com.example.entity.YourEntity">
        SELECT * FROM your_entity_table WHERE id = #{id}
    </select> -->

    <select id="findAll" resultType="com.controlcenter.controlcenter.model.User">
        SELECT * FROM tbl_user;
    </select>
    <select id="getUserById" parameterType="long" resultType="com.controlcenter.controlcenter.model.User">
        SELECT * FROM tbl_user WHERE id = #{id};
    </select>
    <insert id="insertUser" parameterType="com.controlcenter.controlcenter.model.User">
        INSERT INTO tbl_user(username, password) VALUES (#{username}, #{password});
    </insert>
    <insert id="insertUserBatch" parameterType="java.util.List">
        INSERT INTO user(username, password) VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.username}, #{user.password})
        </foreach>
    </insert>

    <!-- <insert id="save" parameterType="com.example.entity.YourEntity">
        INSERT INTO your_entity_table (name) VALUES (#{name})
    </insert>

    <delete id="delete" parameterType="com.example.entity.YourEntity">
        DELETE FROM your_entity_table WHERE id = #{id}
    </delete> -->
</mapper>
