
.sideNavContainer {
    width: 7vw;
    height: 100vh;
    /* padding: 0 1%; */
    display: flex;
    flex-direction: column;
    background:#f3f3f3;
    position: fixed;
    top: 8vh;
}
.buttonContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1vw 0;
}

.buttonText {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonText span{
    width: 100%;
    margin: 0 auto;
    font-size: 0.7vw;
    text-align: center;
}