body {
  height: 100%;
  width: 100%;
  background-image: url(../../Assets//bg5.jpeg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.mainContainer {
  position: fixed;
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 85%;
  width: 91%;
  top: 10vh;
  left: 7vw;
  overflow: hidden;
}
.midContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contentContainer {
  width: 97%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.contentHolder {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  /* padding: 2vh 0; */
  /* border: 1px solid blue; */
}
.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  /* border: 1px solid green; */
  width: 100%;
}

.searchBarHolder1,
.searchBarHolder2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  /* border: 1px solid red; */
}

.searchBarCol {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: stretch;
  justify-content: center;
  margin: 0;
}

.tableContainer {
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  height: 70%;
  width: 98%;
}

.searchBarHolder1 span, .searchBarHolder2 span{
    font-weight: bold;
}

/* for breadcrumbs */
.custom-link {
  text-decoration: underline;
}

.custom-link:hover {
  text-decoration: none; /* Remove underline on hover */
}
.pageTitle{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5%;
  height: 100%;
}
