.EmpStatusGraphContainer {
  height: 80%; 
  width: 33%;
  /* padding: 2%; */
  /* border: 1px solid green; */
}
.empGraphHolder{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Attributes of Main Container */
.card {  
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  align-items: flex-end;
  display: flex;
  height: 300px;
  width: 100%;
  /* border: 1px solid black; */
}
.textHolder{
  flex-direction: column;
  display: flex;
  justify-content: end;
  width: 100%;
}

/* Attributes of Text Title */
.textTitle{
  padding-left: 2%;
  font-weight: bold;
  font-size: 20px;
}
.textSubtitle {
  padding-left: 2%;
  font-size: 15px; 
}

/* Attributes of Information Container */
.infoContainer{
  padding: 2%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.textInfoUpdate{
  font-size: 12px; 
  color: green;
  padding-right: 2px;
}
.textInfo{
  font-size: 12px; 
  color: grey;
}

/* Attributes of Graph */
.graphContainer{
  background: linear-gradient(#1d1d1d, #2f2f33, #3f3f46);
  height: 30%;
  width: 30%; 
  border-radius: 15px;
  position: absolute;
  margin-bottom: 12%;
  z-index: 1;
  margin-top:1%;
  /* border: 1px solid red; */
}

@media screen and (max-width: 2559px) {
  .EmpStatusGraphContainer {
    height: 120%;
  }
  .card { 
    height: 100%;
    width: 100%;
  }
  .graphContainer{
    height: 26%;
    margin-bottom: 11%;
  }
}

@media screen and (max-width: 1700px) {
  .graphContainer{
    margin-bottom: 12%;
  }
}

@media screen and (max-width: 1550px) {
  .graphContainer{
    margin-bottom: 12%;
  }
}

@media screen and (max-width: 1000px) {
  .EmpStatusGraphContainer {
    height: 100%; 
    width: 80%;
    padding: 1%;
    border: 1px solid black;
  }
  .card { 
    height: 100%;
    width: 100%;  
    border: 1px solid red;
  }
  .graphContainer{
    height: 14%;
    width: 75%;
    /* margin-bottom: 23%; */
    border: 1px solid blue;
  }
}