body {
    height: 100%;
    width: 100%;
    background-image: url(../../../Assets/bg5.jpeg);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat, sans-serif" ;
  }
  
  .mainContainer {
    position: fixed;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 85%;
    width: 91%;
    top: 10vh;
    left: 7vw;
  
    overflow: hidden;
  }
  
.breadCrumbs{
    color: red;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 2vw;
    width: 95%;
}
.breadCrumbs p{
    font-size: small;
    padding: 0;
    margin: 0;
}
.contentContainer{
    /* border: 1px solid black; */

    width: 95%;
    height: 75%;
    position: relative;
    top: 3%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 2%;


    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;

}
.heading{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    height: 8%;
    width: 98%;
    margin: 1% 2%;
}
.mainForm {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
}
.mainForm .textField{
    width: 300px;
    background-color: #dce0e0;
}

.formRow2, .formRow3, .formRow5, .formRow6{
    display: flex;
    gap: 4vw;
}
.formRow7{
    display: flex;
    gap: 0.5vw;
}
.formRow5 Button, .formRow7 Button{
    height: 2rem;
    margin-top: 3.5vh;
}

.formRow7{
    align-self: flex-end;
}

