.mainContainer { 
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 83.65%;
  height: 86.3%;
  top: 10%;
  left: 15.5%;
  overflow: hidden;
  background: rgba(237, 249, 255, 0.35);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}
.mainHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.contentHolder {
  height: 92%;
  width: 99%;
  display: flex;
  padding-left: 2%;
  padding-right: 1%;
}
.contentHolderLeft{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.contentHolderRight{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contentHolderRightTop{
  display: flex;
  flex-direction: column;
  gap: 4%;
  height: 100%;
  align-items: center ;
  padding-top: 30px;  
}
.col2{
  margin-top: 1.5vh;
  width: 70%;
  /* border: 1px solid red; */
}
.formRow3,
.formRow5 {
  display: flex;
  gap: 4vw;
}
.formRow5 Button{
  height: 2rem;
}
.formRow8 {
  display: flex;
}
.projStatus {
  width: 100%;
}
.projStatusContent {
  display: flex;
  flex-direction: column;
}
.custom-link {
  text-decoration: underline;
} 
.custom-link:hover {
  text-decoration: none;
}
.qlContainer {
  height: 300px;
  width: 100%;
}

.saveButton{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 97%;
  margin-right: 10px;
}

.editClientButtonSvg {
  width: 17px;
  transition-duration: 1s;
}
.editClientButtonSvg path {
  fill: #1976d2;
}
.chooseClient::before {
  content: "Choose client";
  color: black;
  transition-duration: 1s;
  font-size: 2px;
}
.changeClient::before {
  content: "Change client";
  color: black;
  transition-duration: 1s;
  font-size: 2px;
}
.editClientButton:hover {
  width: 200px;
  border-radius: 50px;
  transition-duration: 1s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}
.editClientButton:hover .editClientButtonSvg {
  width: 20px;
  transition-duration: 1s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.editClientButton::before {
  display: none;
  transition-duration: 1s; 
  font-size: 2px;
}
.editClientButton:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 1s;
}


/* @media (max-height: 550px) and (max-width: 1160px) {
  .paperTable{
    height: 85%;
  }
} */


@media (max-width: 2100px) {
  .col2{
    width: 65%;
  }
}
@media (max-width: 1950px) {
  .col2{
    width: 70%;
  }
}
@media (max-width: 1875px) {
  .col2{
    width: 73%;
  }
}
@media (max-width: 1765px) {
  .col2{
    width: 75%;
  }
}
@media (max-width: 1675px) {
  .col2{
    width: 80%;
  }
}
@media (max-width: 1600px) {
  .col2{
    width: 85%;
  }
}
@media (max-width: 1500px) {
  .col2{
    width: 90%;
  }
}


@media (max-width: 1430px) {
  .contentHolder {
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .contentHolderLeft{
    width: 100%;
    padding-right: 1%;
    padding-left: 1%;
    gap: 30px;
  }
  .contentHolderRight{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-right: 1%;
    padding-left: 1%;
    gap: 50px;
  }
  .contentHolderRightTop{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;   
  }
  .col2{
    width: 48%;
  }
  .projManager{
    flex-direction: column;
    display: flex;
  }
} 
@media (max-width: 1375px) {
  .col2{
    width: 49%;
  }
}
@media (max-width: 1350px) {
  .col2{
    width: 51%;
  }
}
@media (max-width: 1280px) {
  .col2{
    width: 53%;
  }
}
@media (max-width: 1200px) {
  .mainContainer { 
    left: 10px;
    width: 98%;
    /* border: 1px solid red; */
  }
}

/* @media (max-height: 550px) and (max-width: 1160px) {
  .paperTable{
    height: 85%;
  }
} */
@media (max-height: 950px) {
  .mainContainer { 
    height: 85.7%;
    top: 11.5%;
  }
}

@media (max-height: 840px) {
  .mainContainer { 
    height: 85%;
    top: 12%; 
  }
  .contentHolder {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .saveButton{
    margin: 10px;
  }
  .contentHolderRightTop{
    gap: 20px;
  }
  .contentHolderLeft{
    gap: 20px;
  }
}
@media (max-height: 800px) {
  .mainContainer { 
    height: 84%;
    top: 13%; 
  }
}
@media (max-height: 761px) {
  .mainContainer { 
    height: 83%;
    top: 14%; 
  }
  .contentHolderRightTop{
    gap: 20px;
  }
}
@media (max-height: 700px) {
  .mainContainer { 
    height: 81%;
    top: 16%; 
  }
  /* .contentHolderRightTop{
    gap: 20px;
  } */
} 
@media (max-height: 700px) {

  .contentHolder{
    gap: 50px;
  }
} 