.topNavContainer{
    background: linear-gradient(#2a7ebb, #579ed1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10vh;
}
.logoContainer{
    margin-left: 1%;
    margin-right: auto;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoContainer img{
    width: 100%;
    height: 100%;
}
.userContainer{
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 70%;
    margin-left: auto;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%    ;
    color: rgb(227, 223, 223);
}
.Username{
    font-weight: 700;
    font-size: 1vw;
    margin: 0;
}
.Position{
    font-weight: 300;
    font-size: 0.7vw;
    margin: 0;
}
.imageContainer{
    margin-right: 1%;
    width: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imageContainer img{
    width: 100%;
    height: 100%;
}