.mainContainer {
	position: fixed;
	display: flex;
	flex-direction: column;
	/*height: 100%;  if 90, sasakto s pinaka browser, di makikita difference (10vh yung topnav) */
	width: 93vw; /* if 93, sasakto s pinaka browser, di makikita difference (7vh yung sidenav)*/
	top: 7vh; /* Bale height + top = 99vh (if 100, di makita difference)*/
	left: 7vw; /* Bale width + left = 99vw (if 100, di makita difference)*/

	align-items: center;
	background-image: url(../../Assets//bg5.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.mainContainer h4 {
	position: relative;
	height: 5%;
}
.mainContainer h6 {
	position: relative;
	top: 0;
	left: 0;
	margin: 5px;
	padding: 1vh;
	height: 2%;
}
.contentContainer {
	width: 97%;
	position: relative;
	align-self: center;
}

.contentHolder {
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
}

.hideButton {
	border-radius: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* for breadcrumbs */
.custom-link {
	text-decoration: underline;
  }
  
.custom-link:hover {
	text-decoration: none; /* Remove underline on hover */
  }