.ProjGraphContainer {
  height: 350px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  /* backgroundColor: black, */
  /* border: 1px solid black, */
}

/* Attributes of Main Container */
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  align-items: flex-end;
  display: flex;
  height: 95%;
  width: 90%;
}
.textHolder{
  flex-direction: column;
  display: flex;
  justify-content: end;
  width: 100%;
  /* border:1px solid red; */
}

/* Attributes of Text Title */
.textTitle{
  padding-left: 2%;
  font-weight: bold;
  font-size: 20px;
}
.textSubtitle {
  padding-left: 2%;
  font-size: 15px; 
}

/* Attributes of Information Container */
.infoContainer{
  padding: 2%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.textInfo{
  font-size: 12px; 
  color: grey;
}

/* Attributes of Graph */
.graphContainer{
  background: linear-gradient(#2a7ebb, #579ed1);
  height: 30%;
  width: 38%;
  border-radius: 15px;
  position: absolute;
  margin-bottom: 12%;
  z-index: 1;
 margin-top:3%;
}