/* Attributes of Create User Page */
.mainContainer {
  position: fixed;
	display: flex;
	flex-direction: column; 
	align-items: center;
  justify-content: center;
	height: 78%;
	width: 82%;
	top: 20vh;
	left: 16.5vw;
	overflow: hidden;
  background: rgba( 237, 249, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  /* border: 1px solid blue; */
  }
.mainHolder {
  position: fixed;
	display: flex;
	flex-direction: column; 
	align-items: center;
  justify-content: center;
	height: 99%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
  border-radius: 15px;
  /* border: 1px solid blue;  */
}

/* Attributes of Form holder */
.contentHolder {
  border-radius: 5px;
  height: 90%;
  width: 99%;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  padding: 2vh 0; 
}
.mainForm {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  width: 95%;
  padding: 2%;
}

/* Attributes of Form  */
.mainForm .textField{
  width: 300px;
  background-color: transparent;
}

.textFieldProfile{
  width: 250px;
  background-color: transparent;
}
.formRow2, .formRow3, .formRow5, .formRow6{
  display: flex;
  gap: 4vw;
}
.formRow5 Button{
  height: 2rem;
  margin-top: 3.5vh;
}
.formRow7{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 0.5vw;
  margin-right: 1%;
  left: 50%;
  top: 5%;
  position: relative;
  /* border: 1px solid red; */
}

/* Attributes of Button */
/* .formRow7{
  align-self: flex-end;
} */

