

.mainContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* height: 89vh; if 90, sasakto s pinaka browser, di makikita difference (10vh yung topnav) */
    width: 40vw; /* if 93, sasakto s pinaka browser, di makikita difference (7vh yung sidenav)*/
    top: 10vh; /* Bale height + top = 99vh (if 100, di makita difference)*/
    left: 7vw; /* Bale width + left = 99vw (if 100, di makita difference)*/
    
    align-items: center;
}

.mainContainer h6{
    color: red;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid green;
    margin: 5px;
    padding: 1vh;
    height: 2%;
}
.contentContainer{

    width: 97%;
    height: 75%;

    top: 3%;

    text-align: right;
}

/* ///////// */

.mainHolder{
    padding-left: 5%;
}
.iconHolder{
    flex:1;
    padding-left: 7;
}

.searchBarHolder1 {
    margin-bottom: 5px;
}
.subHeader{
    flex-Direction: "row";
    background-Color: "#dce0e0";
    padding-Top: "5";
    padding-Left: "5";
    display: "flex";
    border: "1px solid black";
}