

.userGraphHolder{
  height: 100%; 
  width: 98%;
  /* display: flex; */
  justify-content: center;
  background-color: white;
  /* flex-direction: column; */
  /* padding: 1%; */
  border:1px solid red;
}


.graphContainer{
  /* background: linear-gradient(#46a34a, #56af5a, #63b967); */
  height: 99%;
  width: 100%; 
  border-radius: 15px;
  display: flex;
  flex-direction: column; 
  /* gap: 5px; */
  background-color: white;
  border:1px solid black;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* //////////////////////////
///////////////////////// */
/* .userGraphContainer {
  height: 99%; 
  width: 98%;
}

.userGraphHolder{
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card { 
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex; 
  height: 100%;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.textHolder{
  flex-direction: column;
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 2%;
}

.textTitle{
  padding-left: 2%;
  font-weight: bold;
  font-size: 20px;
}
.textSubtitle {
  padding-left: 2%;
  font-size: 15px; 
}

.infoContainer{
  padding: 2%;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.textInfoUpdate{
  font-size: 12px; 
  color: green;
  padding-right: 2px;
}
.textInfo{
  font-size: 12px; 
  color: grey;
}

.graphContainer{
  background: linear-gradient(#46a34a, #56af5a, #63b967);
  height: 30%;
  width: 45%; 
  border-radius: 15px;
  position: absolute;
  margin-bottom: 4%;
  z-index: 1;
  margin-top:1%;
} */
