.mainContainer {
  position: fixed;
	display: flex;
	flex-direction: column; 
	align-items: center;
  justify-content: center;
	height: 78%;
	width: 82%;
	top: 20vh;
	left: 16.5vw;
	overflow: hidden;
  background: rgba( 237, 249, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
}
.mainHolder{
  position: fixed;
	display: flex;
	flex-direction: column; 
	align-items: center;
  justify-content: center;
	height: 99%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
  border-radius: 15px;
  /* border: 1px solid red; */
}
.addButton {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 1%;
  padding-right: 2%;
  position: fixed;
  top: 12vh;
  right: -0.5vw; 
}

/* Attributes of Project Table */
.tableMainContainer{
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  height: 100%;
  width:'100%';
}
.paperTable{
  width: 100%;
  height: 81%;
  background-color: transparent;
  border: 1px solid blue;
}
.tableContainer{
  width: 100%;
  height: 100%;
}
.tableHead {
  background-color: transparent;
  z-index: 1; 
  border-radius:10px;
}
.usernameHover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}


















.pageTitle{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5%;
  height: 100%;
}

.midContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.contentContainer {
  width: 97%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.contentHolder {
  border-radius: 5px;
  height: 90%;
  width: 99%;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  padding: 2vh 0; 
  
 }
 .searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw; 
  width: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
   /* border: 1px solid green;  */
}


.searchBarCol {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: flex-end;
  justify-content: center;
  /* height: 100%;
  width: 100%; */
     /* border: 1px solid green;  */
} 

.tableContainer {
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  width: 100%;
}

.searchBarHolder1 span, .searchBarHolder2 span{
    font-weight: bold;
}

.projStatus{
  /* border: 1px solid red; */
  width: 100%;
}


.projFormControl {
  width: 100% !important; /* Override any conflicting styles */
  /* border: 1 px solid black; */

}

/* Style for the Select component root */
.projSelectRoot {
  width: 100% !important; /* Override any conflicting styles */
}

/* Style for the Select component's outlined style */
.projSelectOutlined {
  width: 100% !important; /* Override any conflicting styles */
}

/* for breadcrumbs */
.custom-link {
  text-decoration: underline;
}

.custom-link:hover {
  text-decoration: none; /* Remove underline on hover */
}

/* Attributes of Search Bar */
.button{
  text-transform: none;
}