.outermost{
	position: fixed;
	width: 83.65%;
	height: 91.5%;
	top: 90px;
	left: 15.5%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 94%;
	width: 99%;
	overflow: hidden;
	background: rgba(237, 249, 255, 0.35);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 10px;
}
.mainHolder{
  position: relative;
	display: flex;
	flex-direction: column; 
	align-items: center;
  justify-content: flex-start;
	height: 99%;
	width: 100%;
	overflow: hidden;
  border-radius: 15px;
}
.addButton {
  width: 98%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 5px;
}
.contentHolder { 
  border-radius: 5px;
  height: 99%;
  width: 99%;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
 }

/* Attributes of Project Table */
.tableMainContainer{
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  height: 100%;
  width:'100%';
}
.paperTable{
  width: 100%;
  height: 92%;
  background-color: transparent;
  /* border: 1px solid blue; */
}
.tableContainer{
  height: 100%;
}
.tableHead {
  z-index: 1; 
  border-radius:10px;
}
.usernameHover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}


















.pageTitle{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5%;
  height: 100%;
}

.midContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.contentContainer {
  width: 97%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}
.searchbarHolder{
  display: flex;
	width: 100%;
	gap: 15px;
}

.searchBarCol {
  display: flex;
	gap: 15px;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
} 

/* .tableContainer {
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  width: 100%;
  border: 1px solid red;
} */

.searchBarHolder1 span, .searchBarHolder2 span{
    font-weight: bold;
}

.projStatus{
  /* border: 1px solid red; */
  width: 100%;
}


.projFormControl {
  width: 100% !important; /* Override any conflicting styles */
  /* border: 1 px solid black; */

}

/* Style for the Select component root */
.projSelectRoot {
  width: 100% !important; /* Override any conflicting styles */
}

/* Style for the Select component's outlined style */
.projSelectOutlined {
  width: 100% !important; /* Override any conflicting styles */
}

/* for breadcrumbs */
.custom-link {
  text-decoration: underline;
}

.custom-link:hover {
  text-decoration: none; /* Remove underline on hover */
}

/* Attributes of Search Bar */
.button{
  text-transform: none;
}




@media screen and (max-width: 1200px) {
	.outermost {
		width: 97.4%;
		left: 1.3%;
	}
}
@media screen and (max-width: 999px) {
	.searchbarHolder {
		flex-direction: column;
	}
	.searchBarColButton {
		align-self: center;
	}
	.tableContainer {
		height: 90%;
	}
}
@media screen and (max-width: 750px) {
	.outermost {
		top: 70px;
	}
}
@media screen and (max-width: 600px) {
	.searchBarCol {
		flex-direction: column;
	}
	.tableContainer {
		height: 60%;
	}
}



@media screen and (max-height: 1100px) {
	.outermost {
		height: 90%;
	}
}
@media screen and (max-height: 950px) {
	.outermost {
		height: 88%;
	}
}
@media screen and (max-height: 870px) {
	.outermost {
		height: 87%;
	}
	.paperTable {
		height: 90%;
	}
	.mainContainer {
		height: 93%;
	}
}
@media screen and (max-height: 850px) {
	.outermost {
		height: 87%;
	}
}
@media screen and (max-height: 785px) {
	.outermost {
		height: 86%;
	}
	.mainContainer {
		height: 92%;
	}
}
@media screen and (max-height: 730px) {
	.outermost {
		height: 85%;
	}
  .paperTable{
    height: 89%;
  }
}
@media screen and (max-height: 670px) {
  .outermost {
    height: 85%;
  }
  .mainContainer {
		height: 91%;
	}
  .paperTable{
    height: 88%;
  }
}
@media screen and (max-height: 620px) {
  .outermost {
    height: 83.5%;
  }
  .paperTable{
    height: 87%;
  }
}
@media screen and (max-height: 600px) {
  .outermost {
    height: 83%;
  }
  .mainContainer {
		height: 90%;
	}
  .paperTable{
    height: 86%;
  }
}

@media (max-height: 550px) and (max-width: 1160px) {
  .paperTable{
    height: 85%;
  }
}
@media (max-height: 480px) and (max-width: 1160px) {
  .outermost{
    height: 80%;
  }
  .mainContainer{
    height: 88%;
  }
  .paperTable{
    height: 83%;
  }
}