.mainContainer {
	position: fixed;
	display: flex;
	flex-direction: column; 
	align-items: center;
	height: 90%;
	width: 93%;
	top: 10vh;
	left: 7vw;
	overflow: hidden;
}
.mainContainer h4 {
	position: relative;
	height: 5%;
}
.mainContainer h6 {
	position: relative;
	top: 0;
	left: 0;
	margin: 5px;
	padding: 1vh;
	height: 2%;
}
.contentContainer {
	/* width: 97%;
	position: relative;
	align-self: center; */

	width: 97%;
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.contentHolder {
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
}

.hideButton {
	border-radius: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.pageTitle{
	display: flex;
	align-items: center;
	justify-content: start;
	gap: .5%;
	height: 100%;
  }
  .midContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  }

    /* for breadcrumbs */
.custom-link {
	text-decoration: underline;
  }
  
.custom-link:hover {
	text-decoration: none; /* Remove underline on hover */
  }