
.hideButton{
background-color: white;
    /* background: rgba( 255, 255, 255, 0.05 ); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter: blur( 20px ); */
    /* -webkit-backdrop-filter: blur( 3px ); */
    border-radius: 10px;
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 1vh;  */
    padding: 2vh 0;   
}
