<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.ActivityLogDao">

<!-- Fetch Data -->
    <select id="getAllActivityLog" resultType="com.controlcenter.controlcenter.model.ActivityLogOutput">
        SELECT log_id, 
               users.username,
               log_desc, 
               log_date
          FROM tbl_act_log AS logs 
    INNER JOIN tbl_user AS users ON logs.emp_id = users.emp_id
         WHERE logs.del_flag = 0
      ORDER BY logs.log_id DESC, logs.reg_date DESC
         LIMIT 7;
    </select>

<!-- Add Data -->
    <insert id="addActivityLog" parameterType="com.controlcenter.controlcenter.model.ActivityLogInput">
        INSERT INTO tbl_act_log(
          emp_id,
          log_desc,
          log_date,
          reg_id
        )
        VALUES (
          #{emp_id},
          #{log_desc},
          #{log_date},
          1
        );
    </insert>

<!-- Update Data -->
    <update id="editDepartmentInfo" parameterType="map">
        UPDATE tbl_department_mst
           SET dept_name=#{department.dept_name},
               update_id = 1
         WHERE dept_id = #{id}
    </update>

<!-- Delete Data -->
    <update id="logicalDeleteDepartment">
        UPDATE tbl_department_mst
           SET del_flag=1
         WHERE dept_id = #{id}
    </update>
    
<!-- Restore Data -->
    <update id="restoreDepartment">
        UPDATE tbl_department_mst
           SET del_flag=0
         WHERE dept_id = #{id}
    </update>

</mapper>
