<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.ClientDao">

<!-- Fetch Data -->
    <select id="getAllClient" resultType="com.controlcenter.controlcenter.model.ClientOutput">
        SELECT client_id, client_name, client_sh_name
          FROM tbl_clients_mst
         WHERE del_flag = 0
      ORDER BY client_id DESC, reg_date DESC;
    </select>

    <select id="getClientById" resultType="com.controlcenter.controlcenter.model.ClientOutput">
        SELECT client_id, client_name, client_sh_name, del_flag
          FROM tbl_clients_mst
         WHERE client_id = #{id};
    </select>

<!-- Add Data -->
    <insert id="addClient" parameterType="com.controlcenter.controlcenter.model.ClientInput">
        INSERT INTO tbl_clients_mst(
            client_name, 
            client_sh_name, 
            reg_id
        )
        VALUES (
            #{client_name}, 
            #{client_sh_name}, 
            1
    );
    </insert>

<!-- Update Data -->
    <update id="editClient" parameterType="map">
        UPDATE tbl_clients_mst
           SET client_name=#{client.client_name}, 
               client_sh_name=#{client.client_sh_name},
               update_id = 1
         WHERE client_id = #{id}
    </update>

<!-- Delete Data -->
    <update id="logicalDeleteClient">
        UPDATE tbl_clients_mst
           SET del_flag = 1
         WHERE client_id = #{id}
    </update>

<!-- Logical Delete Multiple -->
    <delete id="deleteMultipleClient">
        UPDATE tbl_clients_mst
           SET del_flag = 1
         WHERE client_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!-- Restore Data -->
    <update id="restoreClient">
        UPDATE tbl_clients_mst
           SET del_flag=0
         WHERE client_id = #{id}
    </update>
    
</mapper>
