<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.ClientDao">

    <select id="getAllClient" resultType="com.controlcenter.controlcenter.model.Client">
        SELECT * 
          FROM tbl_clients_mst
         WHERE del_flag = 0;
    </select>

    <insert id="addClient" parameterType="com.controlcenter.controlcenter.model.Client">
        INSERT INTO tbl_clients_mst(client_name, client_sh_name, reg_id, update_id)
             VALUES (#{client_name}, #{client_sh_name}, #{reg_id}, #{update_id});
    </insert>

    <update id="editClient" parameterType="map">
        UPDATE tbl_clients_mst
           SET client_name=#{client.client_name}, client_sh_name=#{client.client_sh_name}, reg_id=#{client.reg_id}, update_id=#{client.update_id}
         WHERE client_id = #{id}
    </update>

    <update id="logicalDeleteClient">
        UPDATE tbl_clients_mst
           SET del_flag=1
         WHERE client_id = #{id}
    </update>
    
</mapper>
