<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.DashboardDao">

<!-- Count all the project with open status -->
    <select id="countAllOpenProject" resultType="java.lang.Integer">
        SELECT SUM(open_count) AS total_open_count
                FROM (
                    SELECT COUNT(*) AS open_count
                    FROM tbl_proj_info AS tpi
                    INNER JOIN tbl_proj_status_mst AS proj_status 
                        ON tpi.proj_status_id = proj_status.proj_status_id
                    WHERE tpi.del_flag = 0
                    AND proj_status.proj_status_name = 'Open'
                ) AS counts;
    </select>

<!-- Count all the project with close status -->
    <select id="countAllCloseProject" resultType="java.lang.Integer">
        SELECT SUM(close_count) AS total_close_count
                FROM (
                    SELECT COUNT(*) AS close_count
                    FROM tbl_proj_info AS tpi
                    INNER JOIN tbl_proj_status_mst AS proj_status 
                        ON tpi.proj_status_id = proj_status.proj_status_id
                    WHERE tpi.del_flag = 0
                    AND proj_status.proj_status_name = 'Close'
                ) AS counts;
    </select>

<!-- Count all the project with cancelled status -->
    <select id="countAllCancelledProject" resultType="java.lang.Integer">
        SELECT SUM(cancelled_count) AS total_cancelled_count
                FROM (
                    SELECT COUNT(*) AS cancelled_count
                    FROM tbl_proj_info AS tpi
                    INNER JOIN tbl_proj_status_mst AS proj_status 
                        ON tpi.proj_status_id = proj_status.proj_status_id
                    WHERE tpi.del_flag = 0
                    AND proj_status.proj_status_name = 'Cancelled'
                ) AS counts;
    </select>

    <select id="countAllRegisteredUserPerMonthAndYear">
        SELECT
            YEAR(reg_date) AS year,
            MONTH(reg_date) AS month,
            COUNT(*) AS user_count
        FROM
            tbl_user
        GROUP BY
            year,
            month
        ORDER BY
            year, month;
    </select>

    <!-- <select id="countAllRegisteredUserPerMonthAndYear">
        SELECT
            YEAR(reg_date) AS year,
            MONTH(reg_date) AS month,
            COUNT(*) AS user_count
        FROM
            tbl_user
        GROUP BY
            year,
            month
        ORDER BY
            year, month;
    </select> -->

<!-- Count all user with business partner status -->
    <select id="countAllUserWithStatusOfBusinessPartner" resultType="java.lang.Integer">
        SELECT SUM(bp_count) AS total_bp_count
                FROM (
                    SELECT COUNT(*) AS bp_count
                    FROM tbl_user AS tuser
                    INNER JOIN tbl_status_mst AS user_status 
                        ON tuser.status_code = user_status.status_code
                    WHERE tuser.del_flag = 0
                    AND user_status.status_code = 'BP'
                ) AS counts;
    </select>

<!-- Count all user with intern status -->
    <select id="countAllUserWithStatusOfIntern" resultType="java.lang.Integer">
        SELECT SUM(int_count) AS total_int_count
                FROM (
                    SELECT COUNT(*) AS int_count
                    FROM tbl_user AS tuser
                    INNER JOIN tbl_status_mst AS user_status 
                        ON tuser.status_code = user_status.status_code
                    WHERE tuser.del_flag = 0
                    AND user_status.status_code = 'INT'
                ) AS counts;
    </select>

<!-- Count all user with regular status -->
    <select id="countAllUserWithStatusOfRegular" resultType="java.lang.Integer">
        SELECT SUM(reg_count) AS total_reg_count
                FROM (
                    SELECT COUNT(*) AS reg_count
                    FROM tbl_user AS tuser
                    INNER JOIN tbl_status_mst AS user_status 
                        ON tuser.status_code = user_status.status_code
                    WHERE tuser.del_flag = 0
                    AND user_status.status_code = 'REG'
                ) AS counts;
    </select>

<!-- Count all user with trainee status -->
    <select id="countAllUserWithStatusOfTrainee" resultType="java.lang.Integer">
        SELECT SUM(tra_count) AS total_tra_count
                FROM (
                    SELECT COUNT(*) AS tra_count
                    FROM tbl_user AS tuser
                    INNER JOIN tbl_status_mst AS user_status 
                        ON tuser.status_code = user_status.status_code
                    WHERE tuser.del_flag = 0
                    AND user_status.status_code = 'TRA'
                ) AS counts;
    </select>

    <!-- Count all the project by status -->
    <select id="countAllProjectByStatus" resultType="java.lang.Integer">
        SELECT SUM(project_count) AS total_project_count
                FROM (
                    SELECT COUNT(*) AS project_count
                    FROM tbl_proj_info AS tpi
                    INNER JOIN tbl_proj_status_mst AS proj_status 
                        ON tpi.proj_status_id = proj_status.proj_status_id
                    WHERE tpi.del_flag = 0
                    AND proj_status.proj_status_id = #{proj_status_id}
                ) AS counts;
    </select>

<!-- Count all user by status -->
    <select id="countAllUser" resultType="com.controlcenter.controlcenter.model.TotalUser">
        SELECT SUM(user_count) AS total_user
                FROM (
                    SELECT COUNT(*) AS user_count
                    FROM tbl_user AS tuser
                    WHERE tuser.del_flag = 0 AND tuser.emp_id != 100
                ) AS counts;
    </select>

    <select id="getAllProjectCountByStatus">
        SELECT
            proj_status.proj_status_name AS status_name,
            COUNT(tpi.proj_status_id) AS total,
            MONTHNAME(CURRENT_DATE) AS month
        FROM
            tbl_proj_status_mst AS proj_status
        LEFT JOIN
            tbl_proj_info as tpi
        ON
            proj_status.proj_status_id = tpi.proj_status_id
        LEFT JOIN tbl_project_mst as project
        ON tpi.proj_id = project.proj_id
        WHERE
              EXTRACT(YEAR FROM project.reg_date) = EXTRACT(YEAR FROM CURRENT_DATE)
          AND EXTRACT(MONTH FROM project.reg_date) = EXTRACT(MONTH FROM CURRENT_DATE)
          AND ((proj_status.proj_status_name = "Closed" OR proj_status.proj_status_name = "Finished") AND project.del_flag = 0)
           OR ((proj_status.proj_status_name = 'Ongoing' OR proj_status.proj_status_name = 'Pending') AND project.del_flag = 0)
        GROUP BY
            proj_status.proj_status_id, proj_status.proj_status_name;
    </select>

    <select id="getAllUserCountByStatus">
        SELECT
                user_status.status_code AS status_code,
                user_status.status_name AS status_name,
                COUNT(tuser.status_code) AS total_user_status
            FROM
                tbl_status_mst AS user_status
            LEFT JOIN
                tbl_user AS tuser
            ON
                user_status.status_code = tuser.status_code
            WHERE
                tuser.del_flag = 0 AND tuser.emp_id != 100
            GROUP BY
                user_status.status_code, user_status.status_name;
    </select>

    <select id="yearAndMonthFromUserTable">
        SELECT
            MONTH(reg_date) AS month
        FROM
            tbl_user
        GROUP BY
            month
        ORDER BY
            month;
    </select>
    
    <select id="getAllUserStatusCountByMonth">
        SELECT
            user_status.status_code AS status_code,
            user_status.status_name AS status_name,
            COUNT(tuser.status_code) AS total
        FROM
            tbl_status_mst AS user_status
        LEFT JOIN
            tbl_user AS tuser
        ON
            user_status.status_code = tuser.status_code
        WHERE
            tuser.del_flag = 0 AND MONTH(tuser.reg_date) = #{month}
        GROUP BY
            user_status.status_code, user_status.status_name;
    </select>
 
    <select id="getAllUserStatusCountPerYearAndMonth" resultType="com.controlcenter.controlcenter.model.UserStatusGraph">
        SELECT
                user_status.status_name AS status_name,
                COUNT(tuser.status_code) AS total,
                MONTHNAME(CURRENT_DATE) AS month
            FROM
                tbl_status_mst AS user_status
            LEFT JOIN
                tbl_user AS tuser
            ON
                user_status.status_code = tuser.status_code
            WHERE
                tuser.del_flag = 0
                AND tuser.emp_id != 100
                AND EXTRACT(YEAR FROM tuser.reg_date) = EXTRACT(YEAR FROM CURRENT_DATE)
                AND EXTRACT(MONTH FROM tuser.reg_date) = EXTRACT(MONTH FROM CURRENT_DATE)
            GROUP BY
                user_status.status_code, user_status.status_name;
    </select>

    <select id="getRecentProjects" resultType="com.controlcenter.controlcenter.model.RecentProjects">
       SELECT project.proj_name,
              client.client_name,
              tps.proj_status_name
         FROM tbl_proj_info AS tpi
            INNER JOIN tbl_project_mst AS project
                ON tpi.proj_id = project.proj_id
            LEFT JOIN tbl_clients_mst AS client
                ON tpi.client_id = client.client_id
            LEFT JOIN tbl_proj_status_mst AS tps
                ON tpi.proj_status_id = tps.proj_status_id	
        WHERE project.del_flag = 0
        ORDER BY project.proj_id DESC, 
                 project.reg_date DESC
        LIMIT 6;
    </select>

    <select id="countAllUserPerYearAndMonth" resultType="com.controlcenter.controlcenter.model.UserPerMonth">
       SELECT
            COUNT(*) AS user_per_month
        FROM tbl_user AS tuser
        WHERE tuser.del_flag = 0
            AND tuser.emp_id != 100
            AND (YEAR(tuser.reg_date) = YEAR(CURRENT_DATE)
            AND MONTH(tuser.reg_date) = MONTH(CURRENT_DATE));
    </select>
</mapper>
