<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl DevType   -->
<mapper namespace="com.controlcenter.controlcenter.dao.DevTypeDao">

<!-- Fetch Data -->
    <select id="getAllDevType" resultType="com.controlcenter.controlcenter.model.DevType">
        SELECT *
         FROM tbl_dev_type_mst
        WHERE del_flag = 0;
    </select>

<!-- Add Data -->
    <insert id="addDevType" parameterType="com.controlcenter.controlcenter.model.DevType">
        INSERT INTO tbl_dev_type_mst(
            dev_type_name, 
            dev_type_sh_name, 
            reg_id, update_id
        )
        VALUES (
            #{dev_type_name}, 
            #{dev_type_sh_name}, 
            #{reg_id}, 
            #{update_id}
        );
    </insert>
    
<!-- Update Data -->
    <update id="editDevTypeInfo" parameterType="map">
        UPDATE tbl_dev_type_mst
           SET dev_type_name=#{devtype.dev_type_name}, 
               dev_type_sh_name=#{devtype.dev_type_sh_name}
         WHERE dev_type_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteDevType" parameterType="map">
        UPDATE tbl_dev_type_mst
           SET del_flag=1
        WHERE dev_type_id = #{id}
    </update>

</mapper>