<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl MultiRole   -->
<mapper namespace="com.controlcenter.controlcenter.dao.MultiRoleDao">

<!-- Fetch Data -->
    <select id="getAllMultiRole" resultType="com.controlcenter.controlcenter.model.MultiRole">
        SELECT *
         FROM tbl_multi_role
        WHERE del_flag = 0;
    </select>

<!-- Add Data -->
    <insert id="addMultiRole" parameterType="com.controlcenter.controlcenter.model.MultiRole">
        INSERT INTO tbl_multi_role(
            emp_id, role_id, 
            reg_id, update_id
        )
        VALUES (
            #{emp_id}, 
            #{role_id}, 
            #{reg_id}, 
            #{update_id}
        );
    </insert>
    
<!-- Update Data -->
    <update id="editMultiRoleInfo" parameterType="map">
        UPDATE tbl_multi_role
           SET emp_id=#{multiRole.emp_id}, 
               role_id=#{multiRole.role_id}
         WHERE user_role_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteMultiRole">
        UPDATE tbl_multi_role
           SET del_flag = 1
        WHERE user_role_id = #{id}
    </update>

<!-- Restore Data --> 
    <update id="restoreMultiRole">
        UPDATE tbl_multi_role
           SET del_flag = 0
        WHERE user_role_id = #{id}
    </update>
</mapper>