<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.PersonalInfoDao">

<!-- Fetch Data -->
    <select id="getAllPersonalInfo" resultType="com.controlcenter.controlcenter.model.PersonalInfo">
        SELECT * 
          FROM tbl_personal_info
         WHERE del_flag = 0;
    </select>

<!-- Add Data -->
    <insert id="addPersonalInfo" parameterType="com.controlcenter.controlcenter.model.PersonalInfo">
        INSERT INTO tbl_personal_info(
            emp_id, 
            fname, 
            lname, 
            mname, 
            email, 
            reg_id, 
            update_id
        )
        VALUES (
            #{emp_id}, 
            #{fname}, 
            #{lname}, 
            #{mname}, 
            #{email}, 
            #{reg_id}, 
            #{update_id}
        );
    </insert>

<!-- Update Data -->
    <update id="editPersonalInfo" parameterType="map">
        UPDATE tbl_personal_info
           SET fname=#{personalInfo.fname}, 
               lname=#{personalInfo.lname}, 
               mname=#{personalInfo.mname}, 
               email=#{personalInfo.email}
         
        WHERE pid = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeletePersonalInfo">
        UPDATE tbl_personal_info
           SET del_flag = 1
         WHERE pid = #{id}
    </update>

<!-- Restore Data -->
    <update id="restorePersonalInfo">
        UPDATE tbl_personal_info
           SET del_flag = 0
         WHERE pid = #{id}
    </update>
    
</mapper>
