<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.PositionDao">

<!-- Fetch Data -->
    <select id="getAllPosition" resultType="com.controlcenter.controlcenter.model.Position">
        SELECT * 
          FROM tbl_position_mst
         WHERE del_flag = 0;
    </select>

<!-- Add Data -->
    <insert id="addPosition" parameterType="com.controlcenter.controlcenter.model.Position">
        INSERT INTO tbl_position_mst(
            position_name, 
            position_sh_name, 
            reg_id, 
            update_id
        )
        VALUES (
            #{position_name}, 
            #{position_sh_name}, 
            #{reg_id}, 
            #{update_id}
        );
    </insert>

<!-- Update Data -->
    <update id="editPositionInfo" parameterType="map">
        UPDATE tbl_position_mst
           SET position_name=#{position.position_name}, 
               position_sh_name=#{position.position_sh_name}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeletePosition">
        UPDATE tbl_position_mst
           SET del_flag = 1
         WHERE position_id = #{id}
    </update>

<!-- Restore Data -->
    <update id="restorePosition">
        UPDATE tbl_position_mst
           SET del_flag = 0
         WHERE position_id = #{id}
    </update>

</mapper>
