<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl Project Status  -->
<mapper namespace="com.controlcenter.controlcenter.dao.ProjectStatusDao">

<!-- Fetch Data -->
    <select id="getAllProjectStatus" resultType="com.controlcenter.controlcenter.model.ProjectStatusOutput">
        SELECT proj_status_id, proj_status_name, proj_status_description, del_flag
          FROM tbl_proj_status_mst
         WHERE del_flag = 0
      ORDER BY proj_status_id DESC, reg_date DESC;
    </select>

    <select id="getProjectStatusById" resultType="com.controlcenter.controlcenter.model.ProjectStatusOutput">
        SELECT proj_status_id, proj_status_name, proj_status_description, del_flag
          FROM tbl_proj_status_mst
         WHERE proj_status_id = #{id};
    </select>

<!-- Add Data -->
    <insert id="addProjectStatus" parameterType="com.controlcenter.controlcenter.model.ProjectStatusInput">
        INSERT INTO tbl_proj_status_mst (
            proj_status_name, 
            proj_status_description, 
            reg_id
        )
        VALUES (
            #{proj_status_name}, 
            #{proj_status_description}, 
            1
        );
    </insert>
    
<!-- Update Data -->
    <update id="editProjectStatus" parameterType="map">
        UPDATE tbl_proj_status_mst
           SET proj_status_name=#{projectStatus.proj_status_name}, 
               proj_status_description=#{projectStatus.proj_status_description},
               update_id = 1
        WHERE proj_status_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteProjectStatus" parameterType="java.lang.String">
        UPDATE tbl_proj_status_mst
           SET del_flag = 1
        WHERE proj_status_id = #{id}
    </update>

<!-- Logical Delete Multiple -->
    <delete id="deleteMultipleProjectStatus">
        UPDATE tbl_proj_status_mst
           SET del_flag = 1
         WHERE proj_status_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!-- Restore Data -->
    <update id="restoreProjectStatus" parameterType="java.lang.String">
        UPDATE tbl_proj_status_mst
           SET del_flag = 0
        WHERE proj_status_id = #{id}
    </update>
</mapper>