<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl Project Technology   -->
<mapper namespace="com.controlcenter.controlcenter.dao.ProjectTechnologyDao">

<!-- Fetch Data -->
<select id="getAllProjectTechnology" resultType="com.controlcenter.controlcenter.model.ProjectTechnologyOutput">
    SELECT proj_tech_id, tech_id, proj_id, del_flag
      FROM tbl_proj_tech
     WHERE del_flag = 0
  ORDER BY proj_tech_id DESC, reg_date DESC;
</select>

<select id="getProjectTechnologyById" resultType="com.controlcenter.controlcenter.model.ProjectTechnologyOutput">
    SELECT proj_tech_id, tech_id, proj_id, del_flag
      FROM tbl_proj_tech
     WHERE proj_tech_id = #{id};
</select>

<!-- Add Data -->
<insert id="addProjectTechnology" parameterType="com.controlcenter.controlcenter.model.ProjectTechnologyInput">
    INSERT INTO tbl_proj_tech (
        tech_id, 
        proj_id
    )
    VALUES (
        #{tech_id}, 
        #{proj_id}
    )
</insert>

<!-- Update Data -->
<update id="editProjectTechnology" parameterType="map">
    UPDATE tbl_proj_tech
           SET tech_id=#{projectTechnology.tech_id}, 
               proj_id=#{projectTechnology.proj_id},
               update_id = 1
        WHERE proj_tech_id = #{id}
</update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteProjectTechnology" parameterType="java.lang.String">
        UPDATE tbl_proj_tech
           SET del_flag = 1
        WHERE proj_id = #{id}
    </update>

    <!-- Logical Delete Multiple -->
    <delete id="deleteMultipleProjectTechnology">
        UPDATE tbl_proj_tech
           SET del_flag = 1
         WHERE proj_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!-- Restore Data -->
    <update id="restoreProjectTechnology" parameterType="java.lang.String">
        UPDATE tbl_proj_tech
           SET del_flag = 0
        WHERE proj_id = #{id}
    </update>

<!-- Define the delete query -->
    <delete id="permaDeleteProjectTechnology">
        DELETE FROM tbl_proj_tech
        WHERE tech_id = #{tech_id} AND proj_id = #{proj_id} 
    </delete>
</mapper>