<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl ProjMember   -->
<mapper namespace="com.controlcenter.controlcenter.dao.ProjMemberDao">

<!-- Fetch Data -->
    <select id="getAllProjMember" resultType="com.controlcenter.controlcenter.model.ProjMember">
        SELECT *
         FROM tbl_proj_members
        WHERE del_flag = 0;
    </select>

<!-- Add Data -->
    <insert id="addProjMember" parameterType="com.controlcenter.controlcenter.model.ProjMember">
        INSERT INTO tbl_proj_members (
            upid, 
            role_id, 
            reg_id, 
            update_id
        )
        VALUES (
            #{upid}, 
            #{role_id}, 
            #{reg_id},
            #{update_id}
        );
    </insert>
    
<!-- Update Data -->
    <update id="editProjMemberInfo" parameterType="map">
        UPDATE tbl_proj_members
           SET upid=#{projMember.upid}, 
               role_id=#{projMember.role_id}
        WHERE up_role_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteProjMember" parameterType="map">
        UPDATE tbl_proj_members
           SET del_flag=1
        WHERE up_role_id = #{id}
    </update>

</mapper>