<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl Project Phase   -->
<mapper namespace="com.controlcenter.controlcenter.dao.ProjectPhaseDao">

<!-- Fetch Data -->
    <select id="getAllProjectPhase" resultType="com.controlcenter.controlcenter.model.ProjectPhaseOutput">
        SELECT proj_phase_id, dev_phase_id, proj_id, del_flag
          FROM tbl_proj_phase
         WHERE del_flag = 0
      ORDER BY proj_phase_id DESC, reg_date DESC;
    </select>

    <select id="getProjectPhaseById" resultType="com.controlcenter.controlcenter.model.ProjectPhaseOutput">
        SELECT proj_phase_id, dev_phase_id, proj_id, del_flag
          FROM tbl_proj_phase
         WHERE proj_phase_id = #{id};
    </select>

<!-- Add Data -->
    <insert id="addProjectPhase" parameterType="com.controlcenter.controlcenter.model.ProjectPhaseInput">
        INSERT INTO tbl_proj_phase (
            dev_phase_id, 
            proj_id, 
            reg_id
        )
        VALUES (
            #{dev_phase_id}, 
            #{proj_id}, 
            1
        );
    </insert>

<!-- Update Data -->
    <update id="editProjectPhase" parameterType="map">
        UPDATE tbl_proj_phase
           SET dev_phase_id=#{projectPhase.dev_phase_id}, 
               proj_id=#{projectPhase.proj_id},
               update_id = 1
        WHERE proj_phase_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteProjectPhase" parameterType="java.lang.String">
        UPDATE tbl_proj_phase
           SET del_flag = 1
        WHERE proj_id = #{id}
    </update>

<!-- Logical Delete Multiple -->
    <delete id="deleteMultipleProjectPhase">
        UPDATE tbl_proj_phase
           SET del_flag = 1
         WHERE proj_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!-- Restore Data -->
    <update id="restoreProjectPhase" parameterType="java.lang.String">
        UPDATE tbl_proj_phase
           SET del_flag = 0
        WHERE proj_id = #{id}
    </update>

<!-- Define the delete query -->
    <delete id="permaDeleteProjectPhase">
        DELETE FROM tbl_proj_phase
        WHERE dev_phase_id = #{dev_phase_id} AND proj_id = #{proj_id} 
    </delete>

</mapper>