<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl ProjInfo   -->
<mapper namespace="com.controlcenter.controlcenter.dao.ProjInfoDao">

<!-- Fetch Data -->
    <select id="getAllProjInfo" resultType="com.controlcenter.controlcenter.model.ProjInfoOutput">
        SELECT proj_info_id, dev_type_id, client_id, proj_status_id, proj_id
         FROM tbl_proj_info
        WHERE del_flag = 0;
    </select>

<!-- Add Data -->
    <insert id="addProjInfo" parameterType="com.controlcenter.controlcenter.model.ProjInfoInput">
        INSERT INTO tbl_proj_info (
            dev_type_id, 
            client_id, 
            proj_status_id, 
            proj_id, 
            reg_id
        )
        VALUES (
            #{dev_type_id}, 
            #{client_id}, 
            #{proj_status_id}, 
            #{proj_id}, 
            1
        );
    </insert>
    
<!-- Update Data -->
    <update id="editProjInfoInfo" parameterType="map">
        UPDATE tbl_proj_info
           SET dev_type_id=#{projInfo.dev_type_id}, 
               client_id=#{projInfo.client_id}, 
               proj_status_id=#{projInfo.proj_status_id}, 
               proj_id=#{projInfo.client_id},
               update_id = 1
         WHERE proj_info_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteProjInfo" parameterType="map">
        UPDATE tbl_proj_info
           SET del_flag=1
        WHERE proj_info_id = #{id}
    </update>

</mapper>