<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.RoleDao">

    <select id="getAllRole" resultType="com.controlcenter.controlcenter.model.Role">
        SELECT * 
          FROM tbl_role_mst
         WHERE del_flag = 0;
    </select>

    <insert id="addRole" parameterType="com.controlcenter.controlcenter.model.Role">
        INSERT INTO tbl_role_mst (
            title, 
            role_sh_name, 
            role_user_level, 
            reg_id, 
            update_id
        )
        VALUES (
            #{title}, 
            #{role_sh_name}, 
            #{role_user_level}, 
            #{reg_id}, 
            #{update_id}
        );
    </insert>

    <update id="editRoleInfo" parameterType="map">
        UPDATE tbl_role_mst
           SET title=#{role.title}, 
               role_sh_name=#{role.role_sh_name}, 
               role_user_level=#{role.role_user_level}
         WHERE role_id = #{id}
    </update>

    <update id="logicalDeleteRole">
        UPDATE tbl_role_mst
           SET del_flag=1
         WHERE role_id = #{id}
    </update>
    
</mapper>
