<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl Section   -->
<mapper namespace="com.controlcenter.controlcenter.dao.SectionDao">

<!-- Fetch Data -->
    <select id="getAllSection" resultType="com.controlcenter.controlcenter.model.SectionOutput">
       SELECT section_id, section_name, section_sh_name, dept_id
         FROM tbl_section_mst
        WHERE del_flag = 0
     ORDER BY section_id DESC, reg_date DESC;
    </select>

<!-- Add Data -->
    <insert id="addSection" parameterType="com.controlcenter.controlcenter.model.SectionInput">
        INSERT INTO tbl_section_mst (
            section_name, 
            section_sh_name,
            dept_id,
            reg_id
        )
        VALUES (
            #{section_name}, 
            #{section_sh_name},
            #{dept_id}, 
            1
        );
    </insert>
    
<!-- Update Data -->
    <update id="editSectionInfo" parameterType="map">
        UPDATE tbl_section_mst
           SET section_name=#{section.section_name}, 
               section_sh_name=#{section.section_sh_name},
               dept_id=#{section.dept_id},
               update_id = 1
         WHERE section_id = #{id}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteSection" parameterType="map">
        UPDATE tbl_section_mst
           SET del_flag = 1
        WHERE section_id = #{id}
    </update>

<!-- Restore Data -->
    <update id="restoreSection" parameterType="map">
        UPDATE tbl_section_mst
           SET del_flag = 0
        WHERE section_id = #{id}
    </update>

</mapper>