<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl Status   -->
<mapper namespace="com.controlcenter.controlcenter.dao.StatusDao">

<!-- Fetch Data -->
    <select id="getAllStatus" resultType="com.controlcenter.controlcenter.model.StatusOutput">
       SELECT status_code, status_name, status_desc, del_flag
         FROM tbl_status_mst
        WHERE del_flag = 0
     ORDER BY reg_date DESC;
    </select>

    <select id="getStatusById" resultType="com.controlcenter.controlcenter.model.StatusOutput">
        SELECT status_code, status_name, status_desc, del_flag
         FROM tbl_status_mst
        WHERE status_code = #{id};
    </select>

<!-- Add Data -->
    <insert id="addStatus" parameterType="com.controlcenter.controlcenter.model.StatusInput">
        INSERT INTO tbl_status_mst (
            status_code, 
            status_name,
            status_desc,
            reg_id
        )
        VALUES (
            #{status_code}, 
            #{status_name},
            #{status_desc},
            1
        );
    </insert>
    
<!-- Update Data -->
    <update id="editStatusInfo" parameterType="map">
        UPDATE tbl_status_mst
           SET 
               status_name=#{status.status_name},
               status_desc=#{status.status_desc},
               update_id = 1
         WHERE status_code = #{code}
    </update>

<!-- Logical Delete Data -->
    <update id="logicalDeleteStatus">
        UPDATE tbl_status_mst
           SET del_flag = 1
        WHERE status_code = #{code}
    </update>

<delete id="deleteMultipleStatus">
        UPDATE tbl_status_mst
           SET del_flag = 1
         WHERE status_code IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!-- Restore Data -->
    <update id="restoreStatus">
        UPDATE tbl_status_mst
           SET del_flag = 0
        WHERE status_code = #{code}
    </update>

</mapper>