<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl Status   -->
<mapper namespace="com.controlcenter.controlcenter.dao.StoredFileDao">

    <!-- getAllFiles --> 
    <select id="getAllFiles" resultType="com.controlcenter.controlcenter.model.StoredFileOutput">
       SELECT emp_id, filename, filetype, img_src, del_flag
         FROM tbl_user_profile
        WHERE del_flag = 0
     ORDER BY reg_date DESC;
    </select>

    <!-- <select id="getByProfileId" resultType="com.controlcenter.controlcenter.model.StoredFileOutput">
        SELECT profile_id, filename, filetype, img_src, del_flag
          FROM tbl_user_profile
         WHERE profile_id = #{id};
    </select>

    <select id="getPreviewImg" resultType="com.controlcenter.controlcenter.model.StoredFileOutput">
        SELECT profile_id, emp_id, img_src
          FROM tbl_user_profile
         WHERE profile_id = #{id};
    </select> -->

    <!-- getFileByFilename --> 
    <select id="getFileByFilename" resultType="com.controlcenter.controlcenter.model.StoredFileOutput">
        SELECT profile_id,
               emp_id,
               filename,
               filetype,
               img_src,
               del_flag
          FROM tbl_user_profile
         WHERE filename COLLATE utf8mb4_bin = #{filename} AND profile_id = #{id} AND emp_id = #{emp_id};
    </select>

<!-- Add Data -->
    <insert id="store" parameterType="com.controlcenter.controlcenter.model.StoredFileInput">
        INSERT INTO tbl_user_profile (
            emp_id,
            filename, 
            filetype,
            img_src,
            reg_id
        )
        VALUES (
            #{emp_id},
            #{filename}, 
            #{filetype},
            #{img_src},
            1
        );
    </insert>

</mapper>