<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.controlcenter.controlcenter.dao.TechnologyDao">

    <select id="getAllTechnology" resultType="com.controlcenter.controlcenter.model.TechnologyOutput">
        SELECT tech_id, tech_name, tech_sh_name, del_flag 
          FROM tbl_technology_mst
         WHERE del_flag = 0
      ORDER BY tech_id DESC, reg_date DESC;
    </select>

    <select id="getTechnologyById" resultType="com.controlcenter.controlcenter.model.TechnologyOutput">
        SELECT tech_id, tech_name, tech_sh_name, del_flag 
          FROM tbl_technology_mst
         WHERE tech_id = #{id};
    </select>

    <insert id="addTechnology" parameterType="com.controlcenter.controlcenter.model.TechnologyInput">
        INSERT INTO tbl_technology_mst (
          tech_name, 
          tech_sh_name, 
          reg_id
        )
        VALUES (
          #{tech_name}, 
          #{tech_sh_name}, 
          1
        );
    </insert>

    <update id="editTechnology" parameterType="map">
        UPDATE tbl_technology_mst
           SET tech_name=#{technology.tech_name}, 
               tech_sh_name=#{technology.tech_sh_name},
               update_id = 1
         WHERE tech_id = #{id}
    </update>

    <update id="logicalDeleteTechnology">
        UPDATE tbl_technology_mst
           SET del_flag = 1
         WHERE tech_id = #{id};
    </update>

    <update id="deleteMultipleTechnology">
        UPDATE tbl_technology_mst
           SET del_flag = 1
         WHERE tech_id IN
         <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="restoreTechnology">
        UPDATE tbl_technology_mst
           SET del_flag = 0
         WHERE tech_id = #{id};
    </update>
</mapper>
